<form nz-form [formGroup]="itemForm">

  <!-- role  -->
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzRequired nzFor="rolenom">Libelle</nz-form-label>
    <nz-form-control nzHasFeedback [nzMd]="16"  [nzSpan]="14" nzErrorTip="Le libelle de la permission est obligatoire">
      <input  type="text" nz-input formControlName="rolenom" id="rolenom" />
    </nz-form-control>
  </nz-form-item>
</form>


<p-treeTable [value]="files" [columns]="cols" >
  <ng-template pTemplate="header" let-columns>
     <th [style.width]="'40%'">Interface</th> 
    <th *ngFor="let col of columns">
      {{col.header}}
  </th>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
      <tr>
          <td [style.width]="'40%'">
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              {{rowData.title}}
          </td>
          <td *ngFor="let col of columns; let i = index">
              <label nz-checkbox (ngModelChange)="verif(!rowData[col.field],col.field ,rowData,rowNode)" [(ngModel)]="rowData[col.field]"></label>          
          </td>
      </tr>
  </ng-template>
</p-treeTable>
<div *nzModalFooter>
  <button nz-button nzType="default" (click)="handleCancel()">annuler</button>
  <button nz-button nzType="primary" (click)="handleOk()" [disabled]="itemForm.invalid"  [nzLoading]="isConfirmLoading">{{ msgBtn }}</button>
</div>