.steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 200px;
    padding-top: 80px;
    padding-bottom: 50px;
    width: 80vw;
    display: grid;
    place-items: center;
    min-width: 600px;

  }



.card-form {
    display: flex;
    flex-flow: column;
    justify-content: center;  
    align-items: center;
}

.title-zone {
    display: grid;
    place-items: center;
}

.img-responsive {
    width: 200px;
}


.login-form {
    width: 600px;
  }


  .map {
    height: 200px;
    padding: 0;
  }