<nz-steps [nzCurrent]="current">
    <nz-step nzTitle="Login"  nzIcon="user"></nz-step>
    <nz-step nzTitle="Pay" nzIcon="loading"></nz-step>
    <nz-step nzTitle="Done" [nzIcon]="iconTemplate"></nz-step>
    <ng-template #iconTemplate><i nz-icon nzType="smile"></i></ng-template>
  </nz-steps>

  <div class="steps-content">
    <ng-container [ngTemplateOutlet]="loginTpl" *ngIf="current==0"></ng-container>
    <ng-container [ngTemplateOutlet]="pdvTpl" *ngIf="current>=1"></ng-container>
  </div>



  <ng-template #loginTpl>
    <nz-space nzDirection="vertical" [nzSize]="18">
        <nz-space-item>
            <div style="width: 100%;display: grid;place-items: center;">
              <img src="assets/img/logo.png" class="img-responsive" alt="">
            </div>
        </nz-space-item>
        <nz-space-item>
           <div class="title-zone">
            <h2></h2>
            <h3 class="title">Creer votre compte Gas & oil</h3>
           </div>
        </nz-space-item>
        <nz-space-item>
            
              <form nz-form [formGroup]="loginForm" class="login-form">


                <!-- Form Item : Email de l'utilisateur -->
                <nz-form-item>
                 <nz-form-label [nzSpan]="8" nzRequired nzFor="typeutilisateur">Type d'utilisateur</nz-form-label>
                 <nz-form-control nzHasFeedback [nzMd]="14"  [nzSpan]="14" nzErrorTip="Le libelle est obligatoire!">
                   <nz-select
                   id="typeutilisateur"
                   formControlName="typeutilisateur"
                   nzPlaceHolder="Type de l'utilisateur"
                 >
                   <nz-option *ngFor="let typeutilisateur of listeTypeutilisateur" [nzValue]="typeutilisateur.typeutilisateurid" [nzLabel]="typeutilisateur.typeutilisateurlibelle"></nz-option>
                 </nz-select>
                 </nz-form-control>
               </nz-form-item>
             
             
                <!-- Form Item : Email de l'utilisateur -->
                <nz-form-item>
                 <nz-form-label [nzSpan]="8" nzRequired nzFor="utilisateuremail">Email</nz-form-label>
                 <nz-form-control nzHasFeedback [nzMd]="14"  [nzSpan]="14" [nzErrorTip]="emailValidTmpl">
                   <input  type="text" nz-input placeholder="mail@xyz.com" formControlName="utilisateuremail" id="utilisateuremail" />
                   <ng-template #emailValidTmpl let-control>
                     <ng-container *ngIf="control.hasError('required')">
                       l'email est obligatoire !
                     </ng-container>
                     <ng-container *ngIf="control.hasError('email')">
                       Entrer un mail valide !
                     </ng-container>
                   </ng-template>
                 </nz-form-control>
               </nz-form-item>
             
                <!-- Form Item : Nom de l'utilisateur -->
                <nz-form-item>
                 <nz-form-label [nzSpan]="8" nzRequired nzFor="utilisateurnom">Noms</nz-form-label>
                 <nz-form-control nzHasFeedback [nzMd]="14"  [nzSpan]="14" nzErrorTip="Le libelle est obligatoire!">
                   <input  type="text" nz-input formControlName="utilisateurnom" id="utilisateurnom" />
                 </nz-form-control>
               </nz-form-item>
               
             
                <!-- Form Item : Password de l'utilisateur -->
                <nz-form-item>
                 <nz-form-label [nzSpan]="8" nzRequired nzFor="utilisateurpassword">Mot de passe</nz-form-label>
                 <nz-form-control nzHasFeedback [nzMd]="14"  [nzSpan]="14" nzErrorTip="Le libelle est obligatoire!">
                   <input  type="password" nz-input formControlName="utilisateurpassword" id="utilisateurpassword" />
                 </nz-form-control>
               </nz-form-item>
             
             
                <!-- Form Item : Confirme pzssword de l'utilisateur -->
                <nz-form-item>
                 <nz-form-label [nzSpan]="8" nzRequired nzFor="utilisateurconfirmpassword">Confirmer le mot de passe</nz-form-label>
                 <nz-form-control nzHasFeedback [nzMd]="14"  [nzSpan]="14" nzWarningTip="Le mot de passe ne correspond pas" nzErrorTip="Le mot de passe est obligatoire!">
                   <input  type="password" nz-input formControlName="utilisateurconfirmpassword" id="utilisateurconfirmpassword" />
                 </nz-form-control>
               </nz-form-item>
             
             
                <!-- Form Item : Email de l'utilisateur -->
                <nz-form-item>
                 <nz-form-label [nzSpan]="8" nzRequired nzFor="utilisateurcontact">Contact</nz-form-label>
                 <nz-form-control nzHasFeedback [nzMd]="14"  [nzSpan]="14" nzErrorTip="Le libelle est obligatoire!">
                   <input  type="text" nz-input placeholder="22501223344" formControlName="utilisateurcontact" id="utilisateurcontact" />
                 </nz-form-control>
               </nz-form-item>
               <div nz-row nzJustify="center" class="login-form-margin">
                <button nz-button class="login-form-button login-form-margin" [disabled]="loginForm.invalid" [nzLoading]="isLoading" [nzType]="'primary'" (click)="nextStep()">Créer le compte</button>
            </div>
               
             </form>
        </nz-space-item>

        <nz-space-item>
            <nz-divider nzText="ou"></nz-divider>
            <nz-row nzJustify="center" >
                <nz-space nzDirection="horizontal" [nzSize]="10">
                    <nz-space-item>
                        <button nz-button nzType="primary" nzShape="circle" (click)="signInWithGoogle()"><i nz-icon nzType="google"></i></button>
                    </nz-space-item>
                    <nz-space-item>
                        <button nz-button nzType="default" nzShape="circle"><i nz-icon nzType="facebook"></i></button>
                    </nz-space-item>
                </nz-space>
                
                
            </nz-row>
           
   
        </nz-space-item>
        <nz-space-item>
          <nz-divider nzText="Vous possédez un compte ?"></nz-divider>
          <nz-row nzJustify="center" >          
              <a [routerLink]="['/session/login']" routerLinkActive="router-link-active" >connexion</a>
          </nz-row>
         
 
      </nz-space-item>
      </nz-space>
    
  </ng-template>





  <ng-template #pdvTpl>
        
    <form nz-form [formGroup]="pdvForm" class="login-form" (ngSubmit)="submitForm()">
        <!-- Form Item : Nom du pdv -->
        <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired nzFor="pdvname">Libelle</nz-form-label>
        <nz-form-control nzHasFeedback [nzMd]="16"  [nzSpan]="14" nzErrorTip="Le libelle est obligatoire!">
            <input  type="text" nz-input formControlName="pdvname" id="pdvname" />
        </nz-form-control>
        </nz-form-item>

    

        <!-- Form Item : Type de PDV -->
        <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="typepdv" nzRequired>Type de Pdv</nz-form-label>
        <nz-form-control [nzSpan]="14" [nzMd]="16"  nzErrorTip="Veuillez selectionner le type de pdv">
            <nz-select
            id="typepdv"
            formControlName="typepdv"
            nzPlaceHolder="Selectionner le type de pdv"
            >
            <nz-option *ngFor="let pdv of listeTypepdv" [nzValue]="pdv.typepdvid" [nzLabel]="pdv.typepdvlibelle"></nz-option>
            </nz-select>
        </nz-form-control>
        </nz-form-item>
        

        
        <!-- Form Item : Choix du service & Produits -->
        <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="gservices" nzRequired> Services & Produits</nz-form-label>

        <div nz-col nzSpan="16">
        <div nz-row>
            <div nz-col nzSpan="11">
            <nz-form-control   nzErrorTip="Veuillez selectionner les services">
                <nz-select
                [nzMaxTagCount]="1"
                [nzMaxTagPlaceholder]="serviceMaxPlaceHolder"
                nzMode="multiple"
                (ngModelChange)="onServiceChange($event)"
                [nzAllowClear]="true"
                id="gservices"
                formControlName="gservices"
                nzPlaceHolder="Services"
                >
                <nz-option *ngFor="let service of listeServices" [nzValue]="service.gserviceid" [nzLabel]="service.gservicename"></nz-option>
                </nz-select>
            </nz-form-control>
            <ng-template #serviceMaxPlaceHolder let-selectedList> et {{ selectedList.length }} {{selectedList.length > 1 ? 'autres services':'autre service' }}  </ng-template>
            </div>
            <div nz-col nzSpan="11"  nzOffset="2">
            <nz-form-control   nzErrorTip="Veuillez selectionner les produits">
                <nz-select
                [nzMaxTagCount]="1"
                [nzMaxTagPlaceholder]="serviceMaxPlaceHolder"
                nzMode="multiple"
                id="produits"
                formControlName="produits"
                nzPlaceHolder="Produits"
                >
                <nz-option *ngFor="let produit of listeProduits" [nzValue]="produit.produitid" [nzLabel]="produit.produitname"></nz-option>
                </nz-select>
            </nz-form-control>
            <ng-template #serviceMaxPlaceHolder let-selectedList> et {{ selectedList.length }} {{selectedList.length > 1 ? 'autres produits':'autre produit' }}  </ng-template>
            </div>
        </div>
        </div>
        
        </nz-form-item>
        
        


        <!-- Form Item : Jours d'ouverture -->
        <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="pdvjourouverture" nzRequired>Jours d'ouverture</nz-form-label>
        <nz-form-control [nzSpan]="14" [nzMd]="16"  nzErrorTip="Veuillez selectionner vos jours d'ouverture">
            <nz-select
            [nzMaxTagCount]="2"
            [nzMaxTagPlaceholder]="jourMaxPlaceHolder"
            id="pdvjourouverture"
            nzMode="multiple"
            formControlName="pdvjourouverture"
            nzPlaceHolder="Selectionner les jours d'ouverture"
            >
            <nz-option *ngFor="let jour of listeJour" [nzValue]="jour.key" [nzLabel]="jour.jour"></nz-option>
            </nz-select>
        </nz-form-control>
        </nz-form-item>
        <ng-template #jourMaxPlaceHolder let-selectedList> et {{ selectedList.length }} {{selectedList.length > 1 ? 'autres jours':'autre jour' }}  </ng-template>


        <!-- Group Form Item : Horaires-->

        <nz-form-item>
        <nz-form-label [nzSpan]="6" [nzMd]="6"  nzFor="pdvheureouverture" nzRequired>Horaires</nz-form-label>
        <div nz-col nzSpan="16">
            <div nz-row>
            <div nz-col nzSpan="12">
                <nz-form-control nzErrorTip="Veuillez selectionner une pdvheureouverture">
                <nz-time-picker formControlName="pdvheureouverture" nzFormat="HH:mm" nzPlaceHolder="Ouverture" id="pdvheureouverture" ></nz-time-picker>
                </nz-form-control>  
            </div>
            <div nz-col nzSpan="12"  >
                <nz-form-control nzErrorTip="Veuillez selectionner une pdvheurefermeture">
                <nz-time-picker formControlName="pdvheurefermeture" nzFormat="HH:mm" nzPlaceHolder="Fermeture" id="pdvheurefermeture" ></nz-time-picker>
                </nz-form-control>
            </div>
            </div>
        </div>
        
        </nz-form-item>




        <!-- Form Item : Localite  -->
        <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="ville" nzRequired>Localité</nz-form-label>
        <div nz-col nzSpan="16">
            <div nz-row>
            <div nz-col nzSpan="11">
                <nz-form-control [nzSpan]="14" [nzMd]="24"  nzErrorTip="Veuillez selectionner une ville">
                <nz-select
                id="ville"
                (ngModelChange)="onVilleChange($event)"
                formControlName="ville"
                [nzAllowClear]="true"
                nzPlaceHolder="Ville">
                <nz-option *ngFor="let ville of listeVille"  [nzValue]="ville.villeid" (click)="onVilleChange($event)" [nzLabel]="ville.villename"></nz-option>
                
                </nz-select>
            </nz-form-control></div>
            <div nz-col nzSpan="11"  nzOffset="2">
                <nz-form-control [nzSpan]="14" [nzMd]="24"  nzErrorTip="Veuillez selectionner une commune">
                <nz-select
                id="commune"
                formControlName="commune"
                nzPlaceHolder="Commune"
                >
                <nz-option *ngFor="let commune of listeCommune"  [nzValue]="commune.communeid" [nzLabel]="commune.communename"></nz-option>
                </nz-select>
            </nz-form-control></div>
            </div>
        </div>
        
        </nz-form-item>




        <!-- Form Item : Map -->
        <nz-form-item>
        <nz-form-label [nzSm]="6"  [nzMd]="6" [nzXs]="24" nzFor="pdvdescription" >Coordonnées</nz-form-label>
        <div 
            nz-col nzSpan="16" class="map" 
            leaflet 
            [leafletOptions]="options" 
            [leafletLayers]="layers" 
            [(leafletCenter)]="options.center"
            (leafletClick)="mapClicked($event)">
        </div>
        
        </nz-form-item>
        <nz-form-item>
        <nz-form-label [nzSpan]="6"></nz-form-label>
        <div nz-col nzSpan="16">
            <div nz-row>
            
            <div nz-col nzSpan="11">
                <nz-form-control [nzSpan]="14" [nzMd]="24"  nzErrorTip="Veuillez entrer une latitude">
                <input type="text" #pdvlat nz-input placeholder="Latitude" (change)="mapClicked({latlng:{lat:pdvlat.value,lng:pdvlong.value}})" formControlName="pdvlat" id="pdvlat" />
                </nz-form-control>
            </div>

            <div nz-col nzSpan="11" nzOffset="2">
                <nz-form-control [nzSpan]="14" [nzMd]="24"  nzErrorTip="Veuillez entrer une longitude">
                <input type="text" #pdvlong nz-input placeholder="Longitude" (change)="mapClicked({latlng:{lat:pdvlat.value,lng:pdvlong.value}})" formControlName="pdvlong" id="pdvlong" />
            </nz-form-control>
            </div>
            </div>
        </div>
        </nz-form-item>





        <!-- Group Form Item : Adresse-->

        <nz-form-item>
        <nz-form-label [nzSpan]="6" [nzMd]="6"  nzFor="pdvheureouverture" nzRequired>Adresse</nz-form-label>
        <div nz-col nzSpan="16">
            <div nz-row>
            <div nz-col nzSpan="11">
                <nz-form-control [nzSpan]="24" [nzMd]="24"  nzErrorTip="Veuillez selectionner une pdvaddress">
                <input  type="text" nz-input placeholder="Adresse" formControlName="pdvaddress" id="pdvaddress" />
                </nz-form-control>
            </div>
            <div nz-col nzSpan="12" nzOffset="1"  >
                <nz-form-control [nzSpan]="24" [nzMd]="24"  nzErrorTip="Veuillez entrer le contact">
                <input  type="text" nz-input placeholder="22501223344" formControlName="pdvcontact" id="pdvcontact" />
                </nz-form-control>
            </div>
            </div>
        </div>
        
        </nz-form-item>





        <!-- 
        <div>
        {{center}}
        </div> -->
        <!-- Form item : COmmentaire -->
        <nz-form-item>
        <nz-form-label [nzSm]="6"  [nzMd]="6" [nzXs]="24" nzFor="pdvdescription" >Commentaire</nz-form-label>
        <nz-form-control [nzSm]="14" [nzMd]="16"  [nzXs]="24" nzErrorTip="Please input your pdvdescription!">
            <textarea rows="2" nz-input formControlName="pdvcommentaire"></textarea>
        </nz-form-control>
        </nz-form-item>
        
    </form>
  </ng-template>